version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily

  - package-ecosystem: docker
    directory: /
    schedule:
      interval: daily

  - package-ecosystem: pip
    directory: "/"
    schedule:
      interval: daily
    groups:
      python-packages:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"